/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

public/docs/collection.json
public/docs/index.html
public/docs/openapi.yaml
resources/docs/.filemtimes
resources/docs/authentication.md
resources/docs/index.md
resources/docs/groups/authentication.md
resources/docs/groups/profile.md
resources/docs/groups/server.md
resources/docs/groups/point.md
