.button-round,
.button-feedback .icon-feedback,
.next-step,
.prew-step {
    border-radius: 50%;
    box-shadow: 0 10px 20px #d8d8d8;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

.button-round .dropdown-menu,
.button-feedback .icon-feedback .dropdown-menu,
.next-step .dropdown-menu,
.prew-step .dropdown-menu {
    padding: 0
}

.button-round .dropdown-toggle:hover,
.button-feedback .icon-feedback .dropdown-toggle:hover,
.next-step .dropdown-toggle:hover,
.prew-step .dropdown-toggle:hover {
    background-color: transparent
}

.button-round .dropdown-menu-right,
.button-feedback .icon-feedback .dropdown-menu-right,
.next-step .dropdown-menu-right,
.prew-step .dropdown-menu-right {
    margin-top: 15px
}

.button-round .dropdown-menu-right::after,
.button-feedback .icon-feedback .dropdown-menu-right::after,
.next-step .dropdown-menu-right::after,
.prew-step .dropdown-menu-right::after {
    content: '';
    position: absolute;
    right: 12px;
    top: -16px;
    border: 8px solid transparent;
    border-bottom: 10px solid #fff
}

.button-round .dropdown-menu-right li a,
.button-feedback .icon-feedback .dropdown-menu-right li a,
.next-step .dropdown-menu-right li a,
.prew-step .dropdown-menu-right li a {
    padding: 15px 30px;
    color: #00a8ff;
    border-bottom: 1px solid #E5E6E8
}

.button-round .dropdown-menu-right li a:hover,
.button-feedback .icon-feedback .dropdown-menu-right li a:hover,
.next-step .dropdown-menu-right li a:hover,
.prew-step .dropdown-menu-right li a:hover {
    color: #f96331;
    background-color: #FFF
}

.button-round .dropdown-menu-right li:last-child a,
.button-feedback .icon-feedback .dropdown-menu-right li:last-child a,
.next-step .dropdown-menu-right li:last-child a,
.prew-step .dropdown-menu-right li:last-child a {
    border-bottom: none
}

.button,
.button-save,
.button-delete-invoice,
.button-gray,
.button-success,
.button-pay-invoice,
.button-orange {
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 300;
    color: #fff
}

.button:hover,
.button-save:hover,
.button-delete-invoice:hover,
.button-gray:hover,
.button-success:hover,
.button-pay-invoice:hover,
.button-orange:hover {
    text-decoration: none;
    cursor: pointer
}

.button-calendar {
    display: inline-block;
    padding: 15px 35px 15px 60px;
    border-radius: 50px;
    border: 1px solid #c5cbce
}

.button-calendar:hover {
    text-decoration: none;
    cursor: pointer
}

.button-print {
    color: #ff9f00;
    background-color: #FFFAEB
}

.button-print.disabled {
    pointer-events: none;
    background-color: #DDD;
    box-shadow: none
}

.button-feedback {
    background-color: #323638;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: 100
}

.button-feedback .icon-feedback {
    height: 60px;
    width: 60px;
    box-shadow: none;
    background-color: #323638;
    font-size: 1.5em
}

.button-feedback .feedback-text {
    display: none
}

.button-feedback .feedback-text a {
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    display: block;
    padding: 5px 10px;
    width: 105px
}

.button-feedback:hover {
    background-color: #4a5053;
    width: 170px;
    border-radius: 48px;
    justify-content: flex-start
}

.button-feedback:hover .feedback-text {
    display: block
}

.button-download {
    color: #756aff;
    background-color: #F5F3FF
}

.button-preview {
    color: #06C266;
    background-color: #EFFEF7
}

.button-share {
    color: #f96331;
    background-color: #FFF5F3
}

.button-save {
    width: 100px;
    background-color: #00a8ff
}

.button-save i {
    margin-right: 5px
}

.button-delete-invoice {
    width: 100px;
    background-color: #EF6467
}

.button-reset {
    background-color: #fff;
    color: #f96331
}

.button-new-invoice {
    background-color: #fff;
    color: #00a8ff
}

.button-duplicate {
    background-color: #fff;
    color: #ff9f00;
    font-size: 20px
}

.button-duplicate .dropdown-toggle {
    padding: 12px
}

.button-copy {
    background-color: #fff;
    color: #ff9f00
}

.button-gray {
    width: 100px;
    color: #686a6f;
    background-color: #E5E6E8
}

.button-gray:hover,
.button-gray:active,
.button-gray:focus {
    color: #686a6f;
    background-color: #d7d9dc;
    text-decoration: none;
    cursor: pointer
}

.button-help {
    color: #00a8ff;
    background-color: #fff
}

.button-menu {
    background-color: #fff;
    color: #00a8ff
}

.button-success,
.button-pay-invoice {
    background-color: #06C266
}

.button-success:hover,
.button-pay-invoice:hover,
.button-success:active,
.button-pay-invoice:active,
.button-success:focus,
.button-pay-invoice:focus {
    color: #fff;
    background-color: #05a959;
    text-decoration: none
}

.button-orange {
    background-color: #f96331
}

.button-orange:hover,
.button-orange:active,
.button-orange:focus {
    color: #fff;
    background-color: #f85018;
    text-decoration: none
}

.button-pay-invoice {
    width: 50%;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2em
}

.button-delete {
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    color: #686a6f;
    background-color: #fff
}

.button-delete i {
    width: 100%;
    position: absolute;
    left: 0;
    top: 27%
}

.gradient-blue {
    background: #fff;
    background: linear-gradient(90deg, rgba(218, 244, 253, 0.3), rgba(255, 255, 255, 0))
}

.next-step,
.prew-step {
    position: fixed;
    top: 45%;
    right: -25px;
    background-color: #f96331;
    color: white;
    width: 120px;
    height: 120px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    z-index: 1
}

.next-step .next-text,
.prew-step .next-text {
    display: none
}

.next-step:hover,
.prew-step:hover,
.next-step:focus,
.prew-step:focus {
    width: 140px;
    height: 140px;
    text-decoration: none;
    color: #fff;
    outline: none
}

.next-step:hover .next-text,
.prew-step:hover .next-text,
.next-step:focus .next-text,
.prew-step:focus .next-text {
    color: #fff;
    display: block;
    padding-top: 5px
}

@media (max-width: 1132px) {

    .next-step,
    .prew-step {
        right: 0;
        width: 100px;
        height: 100px;
        top: inherit;
        bottom: 0;
        position: absolute
    }

    .next-step:hover,
    .prew-step:hover,
    .next-step:focus,
    .prew-step:focus {
        width: 120px;
        height: 120px
    }

    .next-step .next-text,
    .prew-step .next-text {
        display: block
    }
}

@media (max-width: 1132px) {

    .finalize .next-step,
    .finalize .prew-step,
    .finalize .prew-step {
        bottom: 100px
    }
}

.prew-step {
    background-color: #fff;
    color: #f96331;
    right: inherit;
    position: inherit
}

.prew-step:hover,
.prew-step:focus {
    text-decoration: none;
    color: #f96331
}

.prew-step:hover .next-text,
.prew-step:focus .next-text {
    color: #f96331;
    padding-top: 5px
}

.dropdown.open .zmdi-chevron-down {
    transform: rotate(180deg);
    padding-left: 0;
    padding-right: 5px
}

.due-date .dropdown {
    min-width: 100px
}

.dropdown-toggle {
    background-color: transparent;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    padding: 5px
}

.dropdown-toggle i {
    padding-left: 5px;
    padding-right: 0
}

.dropdown-toggle:hover {
    background-color: #EEF7FB
}

.dropdown-menu {
    border: none;
    padding: 10px 0
}

.dropdown-menu li {
    padding: 0
}

.dropdown-menu li a {
    font-weight: 300;
    padding: 5px 15px
}

.dropdown-menu li a:hover {
    color: #f96331;
    background-color: #FFF5F3
}

.white-block {
    height: 10px;
    width: 150px;
    float: right
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #06C266
}

.btn-gradient {
    font-weight: 300;
    background: linear-gradient(-75deg, #F86D39, #F18E39);
    padding: 15px 30px;
    letter-spacing: 1px;
    color: white;
    transition: 0.2s;
    border: none
}

.btn-gradient:hover,
.btn-gradient:active,
.btn-gradient:focus {
    background: linear-gradient(0deg, #F76D49, #F28E49);
    color: #fff;
    cursor: pointer
}

.btn-rounded-grey {
    font-weight: 300;
    background: #c5cbce;
    padding: 15px 30px;
    letter-spacing: 1px;
    color: white;
    transition: 0.2s;
    border: none;
    border-radius: 25px
}

.btn-orange {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #ff9f00;
    border-radius: 25px;
    padding: 0 55px;
    font-size: 16px
}

.btn-orange:hover {
    color: #fff;
    background-color: #eb9200
}

.btn-inline-white {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-decoration: underline;
    font-size: 16px
}

.btn-inline-white:hover {
    color: #ff9f00
}

.footer {
    padding: 30px;
    width: 100%;
    color: #afb7bb;
    word-spacing: 2px;
    display: flex;
    justify-content: center;
    font-size: 13px
}

.footer a {
    color: #5d0cc6
}

.footer-links>div {
    margin-top: 15px;
    margin-bottom: 25px
}

.footer-links>div a {
    font-size: 15px
}

.footer-logo {
    margin-bottom: 20px
}

.footer-logo img {
    margin-left: 0
}

.footer-address {
    color: #271e3f
}

.footer-made-by {
    font-weight: 500;
    display: flex;
    color: #271e3f;
    justify-content: flex-start
}

.solna-heart {
    width: 14px;
    height: 13px;
    object-fit: contain;
    margin: 0 2px
}

.social-links {
    word-spacing: normal
}

.social-links a {
    color: #271e3f;
    margin-left: 5px
}

.social-links a:hover {
    text-decoration: none;
    color: #5d0cc6
}

@font-face {
    font-family: 'icomoon';
    src: url("icomoon-5ae8f9d54f7b8d55dd936eafef48d9fa13dc69c077435ee407cd6e478394f0b4.eot");
    src: url("icomoon-5ae8f9d54f7b8d55dd936eafef48d9fa13dc69c077435ee407cd6e478394f0b4.eot") format("embedded-opentype"), url("icomoon-7e39f2e4471749c07f9b37b2aa57b50a7b9b46c852e5c0a73323e3fee5ab5f37.ttf") format("truetype"), url("icomoon-d071a62b5949255f4b1b996ec218384b0f26f45068acc6622f44eb8df4c742ac.woff") format("woff"), url("icomoon-f3fee70658ad914dd56b256a33716b1824b7c6518b1de9bdf8ca28a93d3eadbf.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-invoice-dublicate:before {
    content: "\e911"
}

.icon-feedback:before {
    content: "\e910";
    color: #fff
}

.icon-invoices-list:before {
    content: "\e90c"
}

.icon-trash:before {
    content: "\e90d"
}

.icon-themes:before {
    content: "\e90e"
}

.icon-cookie:before {
    content: "\e90f"
}

.icon-add-image:before {
    content: "\e903"
}

.icon-print:before {
    content: "\e904"
}

.icon-download:before {
    content: "\e905"
}

.icon-save:before {
    content: "\e906"
}

.icon-pencil:before {
    content: "\e907"
}

.icon-setup:before {
    content: "\e908"
}

.icon-send:before {
    content: "\e909"
}

.icon-attach:before {
    content: "\e90a"
}

.icon-eye:before {
    content: "\e902"
}

.icon-menu:before {
    content: "\e901"
}

.icon-share:before {
    content: "\e900"
}

.icon-forward:before,
.icon-prew:before {
    content: "\e90b"
}

.icon-bubble:before {
    content: "\e96b"
}

.icon-prew {
    color: #f96331;
    transform: scale(-1, 1)
}

.flag {
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 20px;
    width: 30px
}

.flag-AUD {
    background-image: url(flag-icons/flag-AU-99cbbb53b063bf253214e4413b92910bae438d9b4ba01bdd54b26eef73071cf1.svg)
}

.flag-CHF {
    background-image: url(flag-icons/flag-CH-084b17f26c427e391f2681d2b3812aec483bad6baf23fd4fa5382cadcaeb2c63.svg)
}

.flag-EUR {
    background-image: url(flag-icons/flag-EU-67fabfadeedd21d5b297474c9739565b59dfec1d562014ddb8f02f970452e6b8.svg)
}

.flag-GBP {
    background-image: url(flag-icons/flag-GB-86b84f2625d041c08140c6e6fe8b0b5da932647416130aca68193e0e439a9636.svg)
}

.flag-JPY {
    background-image: url(flag-icons/flag-JP-b9d2c9d037d77093072aafba6a24b6eda98d885b986b1458bec4947a504ff6d1.svg)
}

.flag-USD {
    background-image: url(flag-icons/flag-US-bd02726ec704828d0f9ea185dab680347a5ba7efe9aba397d959137c400f1d90.svg)
}

.flag-icon {
    height: 20px;
    width: 26px !important;
    margin-right: 10px;
    border: 1px solid #f2f2f2
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none
    }
}

body,
html {
    padding: 0;
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Roboto', Calibri, sans-serif;
    background-color: #f1f3f4
}

* {
    box-sizing: border-box
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin: 0;
    padding: 0
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

.item-title,
.total-title,
.invoice-title,
.lines-table th,
.notes h4,
.terms h4 {
    font-family: 'Lato', sans-serif
}

.container {
    width: 802px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

.main {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 60px
}

.block-line {
    width: 100%;
    display: block
}

.block-line:after,
.block-line:before {
    content: '';
    display: table;
    clear: both
}

.notes,
.terms {
    padding: 15px 30px 0
}

.notes p,
.terms p {
    word-break: break-all
}

.invoice-footer {
    padding: 30px
}

.invoice-footer .row:first-child {
    padding-bottom: 15px
}

.invoice-footer .row div {
    display: inline-block;
    min-width: 25%
}

.preview-header {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 30px
}

.preview-header h3 {
    line-height: 40px
}

.table-top {
    width: 100%
}

.invoice-logo-block {
    text-align: right
}

.invoice-head {
    height: 150px
}

.invoice-head td {
    vertical-align: middle;
    padding-bottom: 15px
}

.info-block .client>div,
.info-block .user>div {
    line-height: 22px;
    padding-bottom: 10px
}

.info-block .client {
    text-align: left
}

.info-block .user {
    text-align: right
}

.invoice-title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 1.2em
}

.description .description-right {
    text-align: right
}

.description .description-left {
    text-align: left
}

.description .item-title {
    padding-right: 15px
}

.description .invoice-number div,
.description .purchase-order div,
.description .invoice-date div,
.description .due-date div {
    display: inline-block
}

.invoice-items-table {
    padding: 30px 0
}

.lines-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed
}

.lines-table th {
    font-size: 12px;
    color: #686a6f
}

.lines-table thead th:first-child {
    padding-left: 30px
}

.lines-table thead th:last-child {
    padding-right: 30px
}

.lines-table td {
    color: #323638
}

.lines-table td:first-child {
    padding-left: 30px
}

.lines-table td:last-child {
    padding-right: 30px
}

.lines-table td,
.lines-table th {
    padding: 7px 15px
}

.lines-table .td-item,
.lines-table .th-item {
    width: 49%
}

.lines-table .td-quantity,
.lines-table .th-quantity {
    width: 12%
}

.lines-table .td-cost,
.lines-table .th-cost {
    width: 15%
}

.lines-table .td-price,
.lines-table .th-price {
    width: 24%;
    white-space: nowrap
}

.info-block {
    vertical-align: top
}

.td-item {
    word-wrap: break-word
}

.td-price,
.td-quantity,
.th-price,
.th-quantity {
    text-align: right
}

.td-item,
.td-cost,
.th-item,
.th-cost {
    text-align: left
}

.invoice-total,
.payment-stub-block .payment-stub {
    min-width: 50%;
    float: right;
    text-align: right;
    padding-right: 30px
}

.invoice-total .total-value,
.payment-stub-block .payment-stub .total-value {
    padding-left: 10px;
    white-space: nowrap
}

.invoice-total td,
.payment-stub-block .payment-stub td {
    line-height: 15px;
    padding: 7px 0
}

.notes,
.terms {
    display: table;
    width: 100%;
    page-break-inside: avoid
}

.invoice-preview .preview-header {
    padding: 30px 30px 20px
}

.flex-line {
    display: flex;
    justify-content: space-between
}

.navigation-group {
    display: flex;
    justify-content: flex-end;
    margin: 0
}

.navigation-group li {
    list-style-type: none;
    display: flex;
    padding-left: 15px
}

@media print {
    body {
        background-color: #fff
    }

    .preview-header {
        display: none
    }

    @page {
        margin: 1cm 0
    }

    .block-line,
    .notes,
    .terms,
    .payment-stub-block,
    .invoice-footer,
    .invoice-total,
    .payment-stub-block .payment-stub {
        page-break-inside: avoid
    }

    *,
    :after,
    :before {
        color: inherit !important
    }

    .container {
        width: 100%
    }

    .buttons-block {
        display: none
    }

    .template-one-dark .title-block,
    .template-one-dark .info-block,
    .template-one-dark .description {
        color: #fff !important
    }

    .template-one-dark .pay-invoice {
        display: none
    }

    .template-one-dark .invoice-info {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        background-color: #1D1956 !important;
        -webkit-print-color-adjust: exact
    }

    .template-one-dark .final-total {
        color: #06C266 !important
    }

    .template-london {
        padding-top: 30px !important
    }

    .template-london .info-block h1 {
        color: #F00681 !important
    }

    .template-budapest .pay-invoice {
        display: none
    }

    .template-budapest .invoice-info {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        background-color: #323638 !important;
        -webkit-print-color-adjust: exact;
        color: #fff !important
    }

    .template-oslo .invoice-info {
        border-bottom-left-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        background-color: #4137BC !important;
        -webkit-print-color-adjust: exact;
        color: #fff !important
    }

    .template-oslo .final-total {
        color: #4137BC !important
    }

    .template-paris .invoice-logo-block {
        background-color: #06C266 !important;
        -webkit-print-color-adjust: exact;
        border: 1px solid #06C266
    }

    .template-paris .item-title,
    .template-paris .lines-table th,
    .template-paris .final-total {
        color: #06C266 !important
    }

    .template-london .invoice-footer {
        padding: 30px 0 0 !important
    }

    .template-paris .invoice-footer {
        padding: 30px 25px 0 !important
    }

    .template-oslo .invoice-footer,
    .template-one-dark .invoice-footer {
        padding: 15px 30px 0 !important
    }

    .template-budapest .invoice-footer {
        margin: 30px 30px 0
    }
}

.inline-blocks>div {
    display: inline-block
}

.payment-stub-block {
    float: left;
    width: 100%
}

.payment-stub-block h3 {
    padding: 30px
}

.white-block {
    height: 10px;
    width: 150px;
    float: right
}

.has-border-bottom {
    border-bottom: 1px solid #E5E6E8;
    border-radius: 0
}

.template-one-dark .invoice-number,
.template-one-dark .invoice-date {
    margin-bottom: 10px
}

.template-one-dark .table-top {
    padding: 30px 30px 0;
    color: #fff
}

.template-one-dark .description td {
    padding-top: 15px;
    padding-bottom: 30px
}

.template-one-dark .info-block .user>div,
.template-one-dark .info-block .client>div {
    line-height: 20px;
    padding-bottom: 5px
}

.template-one-dark .info-block .user>div.name,
.template-one-dark .info-block .client>div.name {
    padding-bottom: 10px
}

.template-one-dark .invoice-items-table {
    padding-top: 20px
}

.template-one-dark .invoice-info {
    background-color: #1D1956;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.template-one-dark .invoice-total .final-total td,
.template-one-dark .payment-stub-block .payment-stub .final-total td,
.payment-stub-block .template-one-dark .payment-stub .final-total td {
    color: #06C266;
    font-size: 1.1em
}

.template-one-dark .notes p,
.template-one-dark .terms p {
    color: #686a6f
}

.template-london {
    padding: 0 30px
}

.template-london .description-left {
    word-wrap: break-word;
    max-width: 150px
}

.template-london .invoice-items-table {
    padding: 15px 0
}

.template-london .invoice-logo-block {
    text-align: left
}

.template-london .payment-stub-block h3 {
    padding-left: 0
}

.template-london .user {
    text-align: right;
    line-height: 26px
}

.template-london .user .name {
    line-height: 14px;
    padding-bottom: 6px
}

.template-london .invoice-head td {
    width: 50%;
    vertical-align: top
}

.template-london .invoice-title {
    padding-bottom: 5px
}

.template-london .item-title,
.template-london .lines-table th {
    color: #0e0f10;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 10px
}

.template-london .item-value {
    height: 30px;
    line-height: 20px;
    padding-bottom: 10px
}

.template-london .info-block {
    height: 160px;
    vertical-align: top
}

.template-london .info-block .client>div,
.template-london .info-block .user>div {
    line-height: 20px;
    padding-bottom: 10px
}

.template-london .info-block .client {
    text-align: left;
    word-wrap: break-word;
    max-width: 150px
}

.template-london .info-block .user {
    text-align: right
}

.template-london .info-block h1 {
    color: #F00681
}

.template-london .info-block .total-value {
    text-align: right
}

.template-london .table-top {
    border-bottom: 2px solid #F00681
}

.template-london .invoice-items-table {
    border-bottom: 2px solid #E5E6E8;
    padding-bottom: 15px
}

.template-london tr.discount {
    border-top: 2px solid #E5E6E8;
    border-bottom: 2px solid #E5E6E8
}

.template-london .total-title {
    font-weight: bold
}

.template-london .td-price,
.template-london .td-quantity,
.template-london .th-price,
.template-london .th-quantity,
.template-london .th-cost,
.template-london .td-cost {
    text-align: right
}

.template-london .th-item,
.template-london .td-item {
    text-align: left
}

.template-london .invoice-total,
.template-london .payment-stub-block .payment-stub,
.payment-stub-block .template-london .payment-stub {
    margin-top: 20px;
    padding-right: 0;
    border-spacing: 0
}

.template-london .invoice-total .total-title,
.template-london .payment-stub-block .payment-stub .total-title,
.payment-stub-block .template-london .payment-stub .total-title {
    font-size: 15px;
    color: #0e0f10
}

.template-london .invoice-total .total-title span,
.template-london .payment-stub-block .payment-stub .total-title span,
.payment-stub-block .template-london .payment-stub .total-title span {
    margin-left: 10px
}

.template-london .lines-table {
    width: 100%;
    border-collapse: collapse
}

.template-london .lines-table thead th:first-child {
    padding-left: 0
}

.template-london .lines-table thead th:last-child {
    padding-right: 0
}

.template-london .lines-table td {
    color: #323638
}

.template-london .lines-table td:first-child {
    padding-left: 0
}

.template-london .lines-table td:last-child {
    padding-right: 0
}

.template-london .lines-table td,
.template-london .lines-table th {
    padding: 7px;
    line-height: 14px
}

.template-london .invoice-total td,
.template-london .payment-stub-block .payment-stub td,
.payment-stub-block .template-london .payment-stub td,
.template-london .payment-stub td {
    line-height: 14px;
    padding-top: 7px;
    padding-bottom: 7px
}

.template-london .notes,
.template-london .terms {
    padding: 15px 0 0
}

.template-london .notes h4,
.template-london .terms h4 {
    margin-top: 15px;
    margin-bottom: 15px
}

.template-london .invoice-footer {
    width: 100%;
    display: table;
    padding: 30px 0
}

.template-budapest {
    color: #323638
}

.template-budapest .invoice-info {
    padding-top: 15px;
    background-color: #323638;
    color: #fff;
    font-weight: 300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.template-budapest .invoice-items-table {
    padding: 15px 30px
}

.template-budapest .lines-table {
    border-bottom: 1px solid #c5cbce
}

.template-budapest .lines-table td:first-child,
.template-budapest .lines-table td:last-child,
.template-budapest .lines-table th:first-child,
.template-budapest .lines-table th:last-child {
    padding-left: 0;
    padding-right: 0
}

.template-budapest .lines-table .td-price,
.template-budapest .lines-table .td-quantity,
.template-budapest .lines-table .th-price,
.template-budapest .lines-table .th-quantity,
.template-budapest .lines-table .th-cost,
.template-budapest .lines-table .td-cost {
    text-align: right
}

.template-budapest .lines-table .th-item,
.template-budapest .lines-table .td-item {
    text-align: left
}

.template-budapest .lines-table th {
    font-size: 14px;
    font-weight: 600;
    color: #323638
}

.template-budapest .lines-table .invoice-line:last-child td {
    padding-bottom: 30px
}

.template-budapest .invoice-logo-block {
    text-align: left
}

.template-budapest .invoice-tr .invoice-date>div,
.template-budapest .invoice-tr .due-date>div,
.template-budapest .invoice-tr .purchase-order>div,
.template-budapest .invoice-tr .invoice-number>div {
    padding-bottom: 5px;
    display: inline-block
}

.template-budapest .invoice-tr .invoice-date .item-value,
.template-budapest .invoice-tr .due-date .item-value,
.template-budapest .invoice-tr .purchase-order .item-value,
.template-budapest .invoice-tr .invoice-number .item-value {
    padding-left: 5px
}

.template-budapest .invoice-tr .due-date {
    padding-left: 30px
}

.template-budapest .table-top tr td {
    padding-bottom: 15px;
    vertical-align: top
}

.template-budapest .table-top tr td:first-child {
    width: 30%;
    padding-left: 30px
}

.template-budapest .table-top tr:last-child td {
    padding-bottom: 30px
}

.template-budapest .table-top .name {
    padding-bottom: 5px
}

.template-budapest .invoice-footer {
    padding: 30px 0 0 0;
    margin: 30px;
    border-top: 1px solid #E5E6E8
}

.template-budapest .invoice-footer>div {
    width: 24.6%;
    display: inline-block;
    text-align: left
}

.template-budapest .invoice-footer>div:last-child {
    text-align: right;
    color: #686a6f;
    font-weight: 300
}

.template-oslo .invoice-head td {
    vertical-align: top
}

.template-oslo .invoice-logo-block {
    text-align: left
}

.template-oslo .user {
    text-align: right
}

.template-oslo .description {
    text-align: right
}

.template-oslo .description .item-value {
    min-width: 75px
}

.template-oslo .td-price,
.template-oslo .td-quantity,
.template-oslo .th-price,
.template-oslo .th-quantity,
.template-oslo .th-cost,
.template-oslo .td-cost {
    text-align: right
}

.template-oslo .th-item,
.template-oslo .td-item {
    text-align: left
}

.template-oslo th {
    text-transform: uppercase
}

.template-oslo .user>div {
    line-height: 25px;
    padding-bottom: 0
}

.template-oslo .total-title {
    color: #0e0f10;
    text-transform: uppercase
}

.template-oslo .client .item-title {
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 10px
}

.template-oslo .client>div {
    line-height: 25px;
    padding-bottom: 0
}

.template-oslo .description h2 {
    font-weight: normal;
    padding-bottom: 20px
}

.template-oslo .description>div {
    padding-bottom: 5px
}

.template-oslo .invoice-info {
    background-color: #4137BC;
    color: #fff;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 300
}

.template-oslo .final-total {
    color: #4137BC
}

.template-oslo .invoice-footer .row:first-child {
    padding-bottom: 10px
}

.template-paris .invoice-logo-block {
    text-align: center;
    background-color: #06C266;
    padding: 15px
}

.template-paris .invoice-head {
    height: 90px
}

.template-paris .description {
    height: 85px;
    vertical-align: top
}

.template-paris .description td {
    padding-top: 10px
}

.template-paris .description .item-title {
    padding-bottom: 10px
}

.template-paris .info-block {
    height: 105px
}

.template-paris .info-block .client>div,
.template-paris .info-block .user>div {
    line-height: 20px;
    padding-bottom: 5px
}

.template-paris .table-top {
    border-spacing: 0
}

.template-paris .lines-table {
    border-bottom: 2px solid #06C266
}

.template-paris .invoice-items-table {
    padding: 0
}

.template-paris .final-total {
    color: #06C266
}

.template-paris .title-block,
.template-paris .client,
.template-paris .description-left {
    padding-left: 30px
}

.template-paris .user,
.template-paris .description-right {
    padding-right: 30px
}

.template-paris .item-title {
    color: #06C266
}

.template-paris .lines-table td {
    padding-top: 7px;
    padding-bottom: 7px
}

.template-paris .lines-table tr:last-child td {
    padding-bottom: 30px
}

.template-paris .lines-table th {
    padding-top: 0;
    color: #06C266;
    font-size: 14px
}

.template-paris .invoice-total,
.template-paris .payment-stub-block .payment-stub,
.payment-stub-block .template-paris .payment-stub {
    padding-top: 30px
}

.template-paris .invoice-total td,
.template-paris .payment-stub-block .payment-stub td,
.payment-stub-block .template-paris .payment-stub td {
    padding: 7px 0
}

.template-paris .invoice-total td.total-value,
.template-paris .payment-stub-block .payment-stub td.total-value,
.payment-stub-block .template-paris .payment-stub td.total-value {
    padding-left: 10px
}

.template-paris .notes,
.template-paris .terms {
    padding: 15px 25px 0
}

.template-paris .notes h4,
.template-paris .terms h4 {
    margin-top: 15px;
    margin-bottom: 15px
}

.template-paris .invoice-footer {
    padding: 30px
}

.template-paris .invoice-footer>div {
    width: 24.6%;
    display: inline-block;
    text-align: left
}

.template-paris .invoice-footer>div:last-child {
    text-align: right;
    color: #686a6f;
    font-weight: 300
}

.template-paris .title-block {
    padding-bottom: 0
}

.pages-block a {
    color: #00a8ff;
    text-decoration: none
}

.pages-block p {
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify
}

.pages-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex
}

.pages-block ul li a {
    padding: 10px;
    font-size: 1.1em
}

.pages-block ul li a.active {
    border-bottom: 1px solid #323638;
    color: #323638
}

.pages-block ul li a:hover,
.pages-block ul li a:active,
.pages-block ul li a:focus {
    color: #323638
}

.pages-block .privacy,
.pages-block .terms-of-use {
    padding-top: 120px
}

.pages-block .privacy h2,
.pages-block .privacy h4,
.pages-block .terms-of-use h2,
.pages-block .terms-of-use h4 {
    font-weight: 300;
    margin-bottom: 1.5em
}

.pages-block .privacy .last-update,
.pages-block .terms-of-use .last-update {
    padding: 50px 0
}

.pages-block .terms-of-use h2 {
    margin-top: 1.5em
}

.pages-block .terms-of-use h4 {
    margin: 1.2em 0
}

.pages-block .footer {
    margin-top: 100px;
    padding-left: 0
}

.pages-header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    box-shadow: 0px 17px 45px -14px #c5cbce
}

.pages-header .logo {
    height: 50px;
    width: 200px;
    background-image: url(invoice-template-2f343054a9e47e1af80df355ba6711119a2b43eef1969daf410f7a7163f21710.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.pages-header .container {
    display: flex;
    justify-content: space-between;
    height: 80px
}

.pages-header .container>div {
    display: flex;
    align-items: center
}

.pages-header a {
    display: block
}

.pages-header .button-orange {
    display: block;
    color: #fff
}

.notes,
.terms {
    padding: 15px 30px 0
}

.notes h4,
.terms h4 {
    margin-top: 15px;
    margin-bottom: 15px
}

.template-paris .notes,
.template-paris .terms {
    padding: 15px 25px 0
}

.template-paris .notes h4,
.template-paris .terms h4 {
    margin-top: 15px;
    margin-bottom: 15px
}